.debug{

	/*border: 2px solid red;*/
}
div.flex{
	
	width: 100%;
	height: 200vh;
	display: flex;
	flex-direction: column;
}

div.wrapper{
	border: 2px solid black;
}

/* Header*/
div.header{
background-image: url(images/background.jpg);
background-image: cover;
background-image: linear-gradient();
color: white;
}


/* Navigatie*/
div.nav{

text-align:center;
justify-content: space-around;
font-family: Trebuchet MS;
font-size: 25px;
background-color: #333;
color:white;
}


/* in card.php*/
div.cards{
display: flex;
flex: 1;
justify-content: center;
align-items: center;
flex-wrap: wrap;
background-color: ;

}

/* picture + text */

div.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
 /* max-width: 900px;*/
  height: 
  margin: auto;
  font-size: 10px;
  text-align: center;
  color:white;
  background-color:#333 ;
 /* border: 1px solid red;*/

}

/* image model*/
.card img{
	width: 100%;
	height: 300px;
  border: 2px solid #333;
  border-radius: 50px 20px;
}

/* adjust text */
div.card h1{
font-family: Trebuchet MS;
text-align:center;
}

/* one picture only  */
div.card_single.debug{
border: 2px solid red;
}

/*   create flex*/
div.card_single{
	display: flex;
	flex-direction: row;
}

/*  adjust text*/
div.card_single p{
	font-family: Arial;
}

/* adjust text in header*/
div.header h1{
font-family: Brush script MT;
font-size: 35px;
color:;
}


/*  decorate nav */
a{
	text-decoration: none;
	font-family: Trebuchet MS;
	font-size: 20px;
}

/* remove dots nav*/
ul li {
	list-style-type: none;
	display: inline-block;
	padding:10px;
	justify-content: center;

}

/* box ul in nav */
ul{
	margin:0;
	padding:0;
	color: white;


}

/* change color text in nav*/
ul li a{
	color: white;

}

/*  will add "/"" to links in nav*/
ul li:after {
    content: "/";
}

/*  will add "/"" to links in nav*/
ul li.last:after {
    content:"";
}


/* border on button */
.cart_btn{

border-radius: 20px black;
justify-content: center;
margin-top: 200px;
width: 200px;
height: 50px;
}

/* in guitars.php*/
.price{
	font-size: 20px;
	color:black;
	text-align: center;
}


/* column with picture */
div.left{
border: 1px solid red;
width: 50%;
height: 200vh;

}

/* column with text */
div.right{
border: 1px solid red;
height: 200vh;
background-color: lightgrey;
}

div.right p{

	font-family: Arial;
	font-size: 20px;
	text-align: center;

}

div.left h1{
text-align: center;

}







